name: trunk

on:
  push:
    branches:
      - master
      - main
      - release/*
    tags:
      - ciflow/trunk/*
      - ciflow/all/*
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true

jobs:
  parallelnative-linux-xenial-py3_7-gcc5_4-build:
    name: parallelnative-linux-xenial-py3.7-gcc5.4
    uses: ./.github/workflows/_linux-build.yml
    with:
      build-environment: parallelnative-linux-xenial-py3.7-gcc5.4
      docker-image-name: pytorch-linux-xenial-py3.7-gcc5.4

  parallelnative-linux-xenial-py3_7-gcc5_4-test:
    name: parallelnative-linux-xenial-py3.7-gcc5.4
    uses: ./.github/workflows/_linux-test.yml
    needs: parallelnative-linux-xenial-py3_7-gcc5_4-build
    with:
      build-environment: parallelnative-linux-xenial-py3.7-gcc5.4
      docker-image: ${{ needs.parallelnative-linux-xenial-py3_7-gcc5_4-build.outputs.docker-image }}
      test-matrix: |
        { include: [
          { config: "default", shard: 1, num_shards: 1, runner: "linux.2xlarge" },

          { config: "default", shard: 1, num_shards: 2, runner: "linux.2xlarge" },
          { config: "default", shard: 2, num_shards: 2, runner: "linux.2xlarge" },

          { config: "default", shard: 1, num_shards: 3, runner: "linux.2xlarge" },
          { config: "default", shard: 2, num_shards: 3, runner: "linux.2xlarge" },
          { config: "default", shard: 3, num_shards: 3, runner: "linux.2xlarge" },
        ]}

  linux-bionic-cuda10_2-py3_9-gcc7-build:
    name: linux-bionic-cuda10.2-py3.9-gcc7
    uses: ./.github/workflows/_linux-build.yml
    with:
      build-environment: linux-bionic-cuda10.2-py3.9-gcc7
      docker-image-name: pytorch-linux-bionic-cuda10.2-cudnn7-py3.9-gcc7

  linux-bionic-cuda10_2-py3_9-gcc7-test:
    name: linux-bionic-cuda10.2-py3.9-gcc7
    uses: ./.github/workflows/_linux-test.yml
    needs: linux-bionic-cuda10_2-py3_9-gcc7-build
    with:
      build-environment: linux-bionic-cuda10.2-py3.9-gcc7
      docker-image: ${{ needs.linux-bionic-cuda10_2-py3_9-gcc7-build.outputs.docker-image }}
      test-matrix: |
        { include: [
          { config: "default", shard: 1, num_shards: 1, runner: "linux.4xlarge.nvidia.gpu" },

          { config: "default", shard: 1, num_shards: 2, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "default", shard: 2, num_shards: 2, runner: "linux.4xlarge.nvidia.gpu" },

          { config: "default", shard: 1, num_shards: 3, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "default", shard: 2, num_shards: 3, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "default", shard: 3, num_shards: 3, runner: "linux.4xlarge.nvidia.gpu" },

          { config: "default", shard: 1, num_shards: 4, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "default", shard: 2, num_shards: 4, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "default", shard: 3, num_shards: 4, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "default", shard: 4, num_shards: 4, runner: "linux.4xlarge.nvidia.gpu" },

          { config: "default", shard: 1, num_shards: 5, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "default", shard: 2, num_shards: 5, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "default", shard: 3, num_shards: 5, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "default", shard: 4, num_shards: 5, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "default", shard: 5, num_shards: 5, runner: "linux.4xlarge.nvidia.gpu" },

          { config: "slow", shard: 1, num_shards: 1, runner: "linux.4xlarge.nvidia.gpu" },

          { config: "slow", shard: 1, num_shards: 2, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "slow", shard: 2, num_shards: 2, runner: "linux.4xlarge.nvidia.gpu" },

          { config: "slow", shard: 1, num_shards: 3, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "slow", shard: 2, num_shards: 3, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "slow", shard: 3, num_shards: 3, runner: "linux.4xlarge.nvidia.gpu" },

          { config: "slow", shard: 1, num_shards: 4, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "slow", shard: 2, num_shards: 4, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "slow", shard: 3, num_shards: 4, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "slow", shard: 4, num_shards: 4, runner: "linux.4xlarge.nvidia.gpu" },

          { config: "slow", shard: 1, num_shards: 5, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "slow", shard: 2, num_shards: 5, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "slow", shard: 3, num_shards: 5, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "slow", shard: 4, num_shards: 5, runner: "linux.4xlarge.nvidia.gpu" },
          { config: "slow", shard: 5, num_shards: 5, runner: "linux.4xlarge.nvidia.gpu" },

          { config: "nogpu_NO_AVX", shard: 1, num_shards: 1, runner: "linux.2xlarge" },

          { config: "nogpu_NO_AVX", shard: 1, num_shards: 2, runner: "linux.2xlarge" },
          { config: "nogpu_NO_AVX", shard: 2, num_shards: 2, runner: "linux.2xlarge" },


          { config: "nogpu_NO_AVX2", shard: 1, num_shards: 1, runner: "linux.2xlarge" },

          { config: "nogpu_NO_AVX2", shard: 1, num_shards: 2, runner: "linux.2xlarge" },
          { config: "nogpu_NO_AVX2", shard: 2, num_shards: 2, runner: "linux.2xlarge" },

          { config: "jit_legacy", shard: 1, num_shards: 1, runner: "linux.4xlarge.nvidia.gpu" },

          { config: "distributed", shard: 1, num_shards: 1, runner: "linux.8xlarge.nvidia.gpu" },

          { config: "distributed", shard: 1, num_shards: 2, runner: "linux.8xlarge.nvidia.gpu" },
          { config: "distributed", shard: 2, num_shards: 2, runner: "linux.8xlarge.nvidia.gpu" },

          { config: "distributed", shard: 1, num_shards: 3, runner: "linux.8xlarge.nvidia.gpu" },
          { config: "distributed", shard: 2, num_shards: 3, runner: "linux.8xlarge.nvidia.gpu" },
          { config: "distributed", shard: 3, num_shards: 3, runner: "linux.8xlarge.nvidia.gpu" },

          { config: "distributed", shard: 1, num_shards: 4, runner: "linux.8xlarge.nvidia.gpu" },
          { config: "distributed", shard: 2, num_shards: 4, runner: "linux.8xlarge.nvidia.gpu" },
          { config: "distributed", shard: 3, num_shards: 4, runner: "linux.8xlarge.nvidia.gpu" },
          { config: "distributed", shard: 4, num_shards: 4, runner: "linux.8xlarge.nvidia.gpu" },

          { config: "distributed", shard: 1, num_shards: 5, runner: "linux.8xlarge.nvidia.gpu" },
          { config: "distributed", shard: 2, num_shards: 5, runner: "linux.8xlarge.nvidia.gpu" },
          { config: "distributed", shard: 3, num_shards: 5, runner: "linux.8xlarge.nvidia.gpu" },
          { config: "distributed", shard: 4, num_shards: 5, runner: "linux.8xlarge.nvidia.gpu" },
          { config: "distributed", shard: 5, num_shards: 5, runner: "linux.8xlarge.nvidia.gpu" },

          { config: "multigpu", shard: 1, num_shards: 1, runner: "linux.16xlarge.nvidia.gpu" },

          { config: "multigpu", shard: 1, num_shards: 2, runner: "linux.16xlarge.nvidia.gpu" },
          { config: "multigpu", shard: 2, num_shards: 2, runner: "linux.16xlarge.nvidia.gpu" },

          { config: "multigpu", shard: 1, num_shards: 3, runner: "linux.16xlarge.nvidia.gpu" },
          { config: "multigpu", shard: 2, num_shards: 3, runner: "linux.16xlarge.nvidia.gpu" },
          { config: "multigpu", shard: 3, num_shards: 3, runner: "linux.16xlarge.nvidia.gpu" },
        ]}

  linux-bionic-rocm5_1-py3_7-distributed-build:
    name: linux-bionic-rocm5.1-py3.7-distributed
    uses: ./.github/workflows/_linux-build.yml
    with:
      build-environment: linux-bionic-rocm5.1-py3.7
      docker-image-name: pytorch-linux-bionic-rocm5.1-py3.7

  linux-bionic-rocm5_1-py3_7-distributed-test:
    name: linux-bionic-rocm5.1-py3.7-distributed
    uses: ./.github/workflows/_rocm-test.yml
    needs: linux-bionic-rocm5_1-py3_7-distributed-build
    with:
      build-environment: linux-bionic-rocm5.1-py3.7
      docker-image: ${{ needs.linux-bionic-rocm5_1-py3_7-distributed-build.outputs.docker-image }}
      test-matrix: |
        { include: [
          { config: "distributed", shard: 1, num_shards: 1, runner: "linux.rocm.gpu" },

          { config: "distributed", shard: 1, num_shards: 2, runner: "linux.rocm.gpu" },
          { config: "distributed", shard: 2, num_shards: 2, runner: "linux.rocm.gpu" },

          { config: "distributed", shard: 1, num_shards: 3, runner: "linux.rocm.gpu" },
          { config: "distributed", shard: 2, num_shards: 3, runner: "linux.rocm.gpu" },
          { config: "distributed", shard: 3, num_shards: 3, runner: "linux.rocm.gpu" },

          { config: "distributed", shard: 1, num_shards: 4, runner: "linux.rocm.gpu" },
          { config: "distributed", shard: 2, num_shards: 4, runner: "linux.rocm.gpu" },
          { config: "distributed", shard: 3, num_shards: 4, runner: "linux.rocm.gpu" },
          { config: "distributed", shard: 4, num_shards: 4, runner: "linux.rocm.gpu" },

          { config: "distributed", shard: 1, num_shards: 5, runner: "linux.rocm.gpu" },
          { config: "distributed", shard: 2, num_shards: 5, runner: "linux.rocm.gpu" },
          { config: "distributed", shard: 3, num_shards: 5, runner: "linux.rocm.gpu" },
          { config: "distributed", shard: 4, num_shards: 5, runner: "linux.rocm.gpu" },
          { config: "distributed", shard: 5, num_shards: 5, runner: "linux.rocm.gpu" },
        ]}
    secrets:
      AWS_OSSCI_METRICS_V2_ACCESS_KEY_ID: ${{ secrets.AWS_OSSCI_METRICS_V2_ACCESS_KEY_ID }}
      AWS_OSSCI_METRICS_V2_SECRET_ACCESS_KEY: ${{ secrets.AWS_OSSCI_METRICS_V2_SECRET_ACCESS_KEY }}

  linux-bionic-py3_7-clang9-slow-build:
    name: linux-bionic-py3.7-clang9-slow
    uses: ./.github/workflows/_linux-build.yml
    with:
      build-environment: linux-bionic-py3.7-clang9-slow
      docker-image-name: pytorch-linux-bionic-py3.7-clang9

  linux-bionic-py3_7-clang9-slow-test:
    name: linux-bionic-py3.7-clang9-slow
    uses: ./.github/workflows/_linux-test.yml
    needs: linux-bionic-py3_7-clang9-slow-build
    with:
      build-environment: linux-bionic-py3.7-clang9-slow
      docker-image: ${{ needs.linux-bionic-py3_7-clang9-slow-build.outputs.docker-image }}
      test-matrix: |
        { include: [
          { config: "slow", shard: 1, num_shards: 1, runner: "linux.2xlarge" },

          { config: "slow", shard: 1, num_shards: 2, runner: "linux.2xlarge" },
          { config: "slow", shard: 2, num_shards: 2, runner: "linux.2xlarge" },

        ]}

  macos-11-py3-x86-64-build:
    name: macos-11-py3-x86-64
    uses: ./.github/workflows/_mac-build.yml
    with:
      build-environment: macos-11-py3-x86-64
      xcode-version: "12.4"
      runner-type: macos-11
      build-generates-artifacts: true
    secrets:
      MACOS_SCCACHE_S3_ACCESS_KEY_ID: ${{ secrets.MACOS_SCCACHE_S3_ACCESS_KEY_ID }}
      MACOS_SCCACHE_S3_SECRET_ACCESS_KEY: ${{ secrets.MACOS_SCCACHE_S3_SECRET_ACCESS_KEY }}

  macos-11-py3-x86-64-test:
    name: macos-11-py3-x86-64
    uses: ./.github/workflows/_mac-test.yml
    needs: macos-11-py3-x86-64-build
    with:
      build-environment: macos-11-py3-x86-64
      test-matrix: |
        { include: [
          { config: "default", shard: 1, num_shards: 1, runner: "macos-11" },

          { config: "default", shard: 1, num_shards: 2, runner: "macos-11" },
          { config: "default", shard: 2, num_shards: 2, runner: "macos-11" },

          { config: "default", shard: 1, num_shards: 3, runner: "macos-11" },
          { config: "default", shard: 2, num_shards: 3, runner: "macos-11" },
          { config: "default", shard: 3, num_shards: 3, runner: "macos-11" },

          { config: "default", shard: 1, num_shards: 4, runner: "macos-11" },
          { config: "default", shard: 2, num_shards: 4, runner: "macos-11" },
          { config: "default", shard: 3, num_shards: 4, runner: "macos-11" },
          { config: "default", shard: 4, num_shards: 4, runner: "macos-11" },

          { config: "default", shard: 1, num_shards: 5, runner: "macos-11" },
          { config: "default", shard: 2, num_shards: 5, runner: "macos-11" },
          { config: "default", shard: 3, num_shards: 5, runner: "macos-11" },
          { config: "default", shard: 4, num_shards: 5, runner: "macos-11" },
          { config: "default", shard: 5, num_shards: 5, runner: "macos-11" },
        ]}
    secrets:
      AWS_OSSCI_METRICS_V2_ACCESS_KEY_ID: ${{ secrets.AWS_OSSCI_METRICS_V2_ACCESS_KEY_ID }}
      AWS_OSSCI_METRICS_V2_SECRET_ACCESS_KEY: ${{ secrets.AWS_OSSCI_METRICS_V2_SECRET_ACCESS_KEY }}

  # please ensure that this and its corresponding job in pull.yml are in sync
  win-vs2019-cuda11_3-py3-build:
    name: win-vs2019-cuda11.3-py3
    uses: ./.github/workflows/_win-build.yml
    with:
      build-environment: win-vs2019-cuda11.3-py3
      cuda-version: "11.3"

  win-vs2019-cuda11_3-py3-test:
    name: win-vs2019-cuda11.3-py3
    uses: ./.github/workflows/_win-test.yml
    needs: win-vs2019-cuda11_3-py3-build
    with:
      build-environment: win-vs2019-cuda11.3-py3
      cuda-version: "11.3"
      test-matrix: |
        { include: [
          { config: "default", shard: 1, num_shards: 1, runner: "windows.8xlarge.nvidia.gpu" },

          { config: "default", shard: 1, num_shards: 2, runner: "windows.8xlarge.nvidia.gpu" },
          { config: "default", shard: 2, num_shards: 2, runner: "windows.8xlarge.nvidia.gpu" },

          { config: "default", shard: 1, num_shards: 3, runner: "windows.8xlarge.nvidia.gpu" },
          { config: "default", shard: 2, num_shards: 3, runner: "windows.8xlarge.nvidia.gpu" },
          { config: "default", shard: 3, num_shards: 3, runner: "windows.8xlarge.nvidia.gpu" },

          { config: "default", shard: 1, num_shards: 4, runner: "windows.8xlarge.nvidia.gpu" },
          { config: "default", shard: 2, num_shards: 4, runner: "windows.8xlarge.nvidia.gpu" },
          { config: "default", shard: 3, num_shards: 4, runner: "windows.8xlarge.nvidia.gpu" },
          { config: "default", shard: 4, num_shards: 4, runner: "windows.8xlarge.nvidia.gpu" },

          { config: "default", shard: 1, num_shards: 5, runner: "windows.8xlarge.nvidia.gpu" },
          { config: "default", shard: 2, num_shards: 5, runner: "windows.8xlarge.nvidia.gpu" },
          { config: "default", shard: 3, num_shards: 5, runner: "windows.8xlarge.nvidia.gpu" },
          { config: "default", shard: 4, num_shards: 5, runner: "windows.8xlarge.nvidia.gpu" },
          { config: "default", shard: 5, num_shards: 5, runner: "windows.8xlarge.nvidia.gpu" },
          { config: "force_on_cpu", shard: 1, num_shards: 1, runner: "windows.4xlarge" },

          { config: "force_on_cpu", shard: 1, num_shards: 2, runner: "windows.4xlarge" },
          { config: "force_on_cpu", shard: 2, num_shards: 2, runner: "windows.4xlarge" },

          { config: "force_on_cpu", shard: 1, num_shards: 3, runner: "windows.4xlarge" },
          { config: "force_on_cpu", shard: 2, num_shards: 3, runner: "windows.4xlarge" },
          { config: "force_on_cpu", shard: 3, num_shards: 3, runner: "windows.4xlarge" },

          { config: "force_on_cpu", shard: 1, num_shards: 4, runner: "windows.4xlarge" },
          { config: "force_on_cpu", shard: 2, num_shards: 4, runner: "windows.4xlarge" },
          { config: "force_on_cpu", shard: 3, num_shards: 4, runner: "windows.4xlarge" },
          { config: "force_on_cpu", shard: 4, num_shards: 4, runner: "windows.4xlarge" },

          { config: "force_on_cpu", shard: 1, num_shards: 5, runner: "windows.4xlarge" },
          { config: "force_on_cpu", shard: 2, num_shards: 5, runner: "windows.4xlarge" },
          { config: "force_on_cpu", shard: 3, num_shards: 5, runner: "windows.4xlarge" },
          { config: "force_on_cpu", shard: 4, num_shards: 5, runner: "windows.4xlarge" },
          { config: "force_on_cpu", shard: 5, num_shards: 5, runner: "windows.4xlarge" },
        ]}
